﻿@model IEnumerable<Blog.DB.Entities.Article>

@{
    ViewBag.Title = "Index";
}

<h2>My Blogs Panel</h2>
@if (User.IsInRole("Admin") || User.IsInRole("Editor"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateDate)
                </td>
                <td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
                    {
                        @Html.ActionLink("Update", "Update", new { id = item.ID }, null) <br>
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID }, null)<br>
                    }
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, null)

                </td>
            </tr>
        }

    </table>
