﻿@model Blog.DB.Entities.Article

@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Article</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
        </div>
    </div>*@


    <div class="form-group">
        <label class="control-label col-md-2" for="Image">Upload Banner Image</label>
        <div class="col-md-10">
            <input type="file" class="form-control-file" id="BlogImages">
            <input hidden id="BlogImagePath" name="Image">

        </div>
    </div>


    <div class="form-group">
        <input hidden name="UpdateDate" value="@DateTime.Now" />
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-default">Save</button>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>


    $("#BlogImages").change(function () {
        var pictures = this.files;
        var picsData = new FormData();
        for (i = 0; i < pictures.length; i++) {
            picsData.append("Photo", pictures[i])
        };
         $.ajax({
            url: "/Blog/UploadImage/",
            type: "post",
            data: picsData,
            dataType: "json",
            processData: false,
            contentType: false
         }).done(function (response) {
             $("#BlogImagePath").val(response);

        });
    });
</script>
